<div class="row">
  <h1>Hard & Soft Skills</h1>
  <div class="col-sm-4 col-md-4 col-lg-4">
    
    <circle-progress
  [percent]="85"
  [radius]="100"
  [title]="'Python'"
  [titleColor]="'navy'"
  [titleFontSize]="'25'"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="20"
  [innerStrokeWidth]="100"
  [outerStrokeColor]="'#134d7f'"
  [innerStrokeColor]="'#f5dc00'"
  [animation]="true"
  [animationDuration]="600"
  [lazy]="false"
  [imageSrc]="'../assets/R.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [showTitle]="true"
    
  ></circle-progress>
</div>

<div class="col-sm-4 col-md-4 col-lg-4">
    
  <circle-progress
[percent]="85"
[radius]="100"
[title]="'Python'"
[titleColor]="'navy'"
[titleFontSize]="'25'"
[showUnits]="false"
[showSubtitle]="false"
[outerStrokeWidth]="20"
[innerStrokeWidth]="100"
[outerStrokeColor]="'#134d7f'"
[innerStrokeColor]="'#f5dc00'"
[animation]="true"
[animationDuration]="600"
[lazy]="false"
[imageSrc]="'../assets/R.png'"
[showImage]="true"
[imageHeight]="100"
[imageWidth]="100"
[showTitle]="true"
  
></circle-progress>

</div>

  <div class="col-sm-4 col-md-4 col-lg-4">
    
    <circle-progress
  [percent]="85"
  [radius]="100"
  [title]="'Python'"
  [titleColor]="'navy'"
  [titleFontSize]="'25'"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="20"
  [innerStrokeWidth]="100"
  [outerStrokeColor]="'#134d7f'"
  [innerStrokeColor]="'#f5dc00'"
  [animation]="true"
  [animationDuration]="600"
  [lazy]="false"
  [imageSrc]="'../assets/R.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [showTitle]="true"
    
  ></circle-progress>

  </div>
  
  <div class="col-sm-4 col-md-4 col-lg-4">
    
    <circle-progress
  [percent]="85"
  [radius]="100"
  [title]="'Python'"
  [titleColor]="'navy'"
  [titleFontSize]="'25'"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="20"
  [innerStrokeWidth]="100"
  [outerStrokeColor]="'#134d7f'"
  [innerStrokeColor]="'#f5dc00'"
  [animation]="true"
  [animationDuration]="600"
  [lazy]="false"
  [imageSrc]="'../assets/R.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [showTitle]="true"
    
  ></circle-progress>

  </div>

  <div class="col-sm-4 col-md-4 col-lg-4">
    
    <circle-progress
  [percent]="85"
  [radius]="100"
  [title]="'Python'"
  [titleColor]="'navy'"
  [titleFontSize]="'25'"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="20"
  [innerStrokeWidth]="100"
  [outerStrokeColor]="'#134d7f'"
  [innerStrokeColor]="'#f5dc00'"
  [animation]="true"
  [animationDuration]="600"
  [lazy]="false"
  [imageSrc]="'../assets/R.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [showTitle]="true"
    
  ></circle-progress>

  </div>

  <div class="col-sm-4 col-md-4 col-lg-4">
    
    <circle-progress
  [percent]="85"
  [radius]="100"
  [title]="'Python'"
  [titleColor]="'navy'"
  [titleFontSize]="'25'"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="20"
  [innerStrokeWidth]="100"
  [outerStrokeColor]="'#134d7f'"
  [innerStrokeColor]="'#f5dc00'"
  [animation]="true"
  [animationDuration]="600"
  [lazy]="false"
  [imageSrc]="'../assets/R.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [showTitle]="true"
    
  ></circle-progress>

  </div>

  <div class="col-sm-4 col-md-4 col-lg-4">
    
  <circle-progress
  [percent]="85"
  [radius]="100"
  [title]="'Python'"
  [titleColor]="'navy'"
  [titleFontSize]="'25'"
  [showUnits]="false"
  [showSubtitle]="false"
  [outerStrokeWidth]="20"
  [innerStrokeWidth]="100"
  [outerStrokeColor]="'#134d7f'"
  [innerStrokeColor]="'#f5dc00'"
  [animation]="true"
  [animationDuration]="600"
  [lazy]="false"
  [imageSrc]="'../assets/R.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="100"
  [showTitle]="true"
    
  ></circle-progress>

  </div>


</div>

