.row {
    padding:40px
}
div{
    background-color: rgb(0, 185, 194);
    text-align: center;
}

/*Estilo de la foto de perfil*/

@media (min-width: 576px){
    #fotoperfil{
        position: absolute;
        width: 15%;
        border: radius 100%;
        box-shadow: 3px 3px 3px rgb(30, 31, 32);
        left: 3%;
        top: 760px;
    }
}
@media (max-width: 575px){
    #fotoperfil{
        position: absolute;
        width: 30%;
        border: radius 100%;
        box-shadow: 3px 3px 3px rgb(13, 16, 19);
        left: 33%;
        top: 450px;
    }
}


#nombre{
    font-weight: bold;
    margin-top: 30%;

}