<div class="row">

    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio 1</h1> - <h3>years</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quod eum cum inventore dignissimos harum a? Molestias dolorum labore corporis sequi fugiat quam tenetur excepturi error, asperiores amet cupiditate possimus.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Estudio 2</h1> - <h3>years</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quod eum cum inventore dignissimos harum a? Molestias dolorum labore corporis sequi fugiat quam tenetur excepturi error, asperiores amet cupiditate possimus.</p>
            </li>
        </ul>
        <ul>
            <li>
                <h1>Estudio 3</h1> - <h3>years</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quod eum cum inventore dignissimos harum a? Molestias dolorum labore corporis sequi fugiat quam tenetur excepturi error, asperiores amet cupiditate possimus.</p>
            </li>
        </ul>
    </div>
</div>
